{% if logged_in == 1 %}
<h1>Welcome, {{ session.username }}!</h1>
<p>
<br>
<h2>Topics:</h2>
<hr>
{% for topic in topics %}
<p>
<h3><b><a href="/topics/{{ topic.name }}">{{ topic.name }}</a></b></h3>
{{ topic.description }}
<p>
<br>
{% endfor %}
<br>
<li><a href="/createtopic">create new topic</a>
<p>
<hr>
<br><br>
<a href="/logout">Log out</a>

{% else %}
<h1>Welcome!</h1>
<p>
<h3>You must be logged in to access <i>Keskustelupalsta</i></h3><br>
<p>Login:<br>
<form action="/logincheck" method="POST">
<p>Username:<br>
<input type="text" name="username"></p>
<p>Password:<br>
<input type="password" name="password"></p>
<input type="submit" value="Log in">
</form>
{% if error %}
{{ error }}
{% endif %}
<br>
<hr>
Dont have an account? <a href="/makeaccount">Click here to make an account</a>
{% endif %}
